[submodule "themes/material-design"]
	path = themes/material-design
	url = https://github.com/pdevty/material-design.git
[submodule "theme/loveit"]
	path = theme/loveit
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/loveit"]
	path = themes/loveit
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/CodeIT"]
	path = themes/CodeIT
	url = https://github.com/sunt-programator/CodeIT.git
